@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}
h1 {
  display: flex;
  justify-content: center;
}

#list {
  display: flex;
  justify-content: center;
}

#list input {
  border: 1px solid #000;
  padding: 5px;
  border-radius: 4px;
  margin-right: 5px;
}

button {
  background-color: #3179ff;
  color: #FFFFFF;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

#task {
  display: flex;
  justify-content: center;
}

#task ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

#task li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
}

#task a {
  list-style: none;
  text-decoration: none;
  background-color: #fd6969;
  color: #FFFFFF;
  padding: 5px;
  margin-left: 40px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}